.input {
  min-width: 220px;
  text-align: center;
  margin: 3em auto 0 auto;
  height: 2em;
  background-color: var(--primary-color);
  border: none;
  border-bottom: 1px solid var(--text-secondary-color);
  font-size: 16px;
  color: var(--text-primary-color);
  padding: 5px;
  position: relative;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: all .2s ease-in;
  display: none;
}

.inputActive {
  display: flex;
  min-width: 220px;
  text-align: center;
  margin: 3em auto 0 auto;
  height: 2em;
  background-color: var(--primary-color);
  border: none;
  border-bottom: 1px solid var(--text-secondary-color);
  font-size: 16px;
  color: var(--text-primary-color);
  padding: 5px;
  position: relative;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: all .2s ease-in;
}

.inputActive:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text-primary-color);
  border-right: 1px solid var(--text-primary-color);
  border-left: 1px solid var(--text-primary-color);
  transition: all .3s ease-in;
}

.inputActive::placeholder {
  color: var(--text-secondary-color);
  opacity: 1;
}

.inputActive:focus-visible > .input::placeholder {
  opacity: 0;
}