.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.content {
  padding: var(--nav-height) 0px var(--footer-height) 0px;
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  width: 100%;
}

