.nav{
  height: var(--nav-height);
  width: var(--nav-width);
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 3;
}

.navDivider {
  flex-grow: 1;
}

.navItem {
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  list-style: none;
  padding: var(--nav-padding);
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all .2s ease-in;
  user-select: none;
}

.active {
  border-bottom: 1px solid var(--text-primary-color);
  transition: all .2s ease-in;
}

