.container {
  min-height: var(--content-height);
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  position: relative;
}

.button {
  position: relative;
  color: var(--text-primary-color);
  background-color: var(--bg-color);
  border: 1px solid var(--text-secondary-color);
  padding: 10px;
  font-size: 16px;
  z-index: 1;
}

.button:hover {
  background-color: var(--primary-color);
}
