.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.content {
  color: var(--text-primary-color);
  align-items: center;
  justify-content: center;
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1em;
  border: 1px solid var(--text-secondary-color);
  border-radius: 1em;
}

