.grid {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}

.bodyValue {

}

.bodyText {
  
}