.none {
  transform: translateY(-70%);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 1em;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
  transition: all .3s ease-in;
  border: 1px solid var(--text-secondary-color);
}

.accordionMenu {
  visibility: visible;
  opacity: 1;
  text-align: center;
  top: 100%;
  padding: 1em;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
  transition: all .3s ease-in;
  border-left: 1px solid var(--text-secondary-color);
  border-bottom: 1px solid var(--text-secondary-color);
  border-right: 1px solid var(--text-secondary-color);
}