.button {
  position: relative;
  color: var(--text-primary-color);
  background-color: var(--bg-color);
  border: 1px solid var(--text-secondary-color);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease-in;
}

.button:hover {
  transition: all .3s ease-in;
  background-color: var(--primary-color);
}